<html>

<head>
    <script type="text/javascript" src="static/js/main.js"></script>
</head>
<body onload="init()">
<font face="Verdana">
<br/>
<br/>

<center>
<div id="optionContainer">
    <div>
        <span>User Name: </span> <input type="text" id="userNameInput"></input>
        <span>Password: </span> <input type="password" id="passwordInput"></input>
    </div>

    <br/><br/>
    <div>
        <label id="buildingLabel">Building</label>
        <select id="buildingSelect"></select>
        <label id="floorLabel">Floor</label>
        <select id="floorSelect"></select>
    </div>
<br/>
    <div>
        <label id="dateLabel">Date:</label>
        <input type="date" id="bookDate"/>
        <label id="startTimeLabel">Time:</label>
        <select id="startTimeHourSelect"></select>
        <select id="startTimeMinSelect"></select>
        <label id="durationLabel">Duration:     </label>
        <select id="durationHourSelect"></select>
        <select id="durationMinSelect"></select>
    </div>
</div>


<br/><br/>
<button id="submitButton" onclick="submitClickHandler()">Search for free rooms</button>

<br/>
<br/>
<table id="mytable">
</table>

</center>
</font>
</body>
</html>
